################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/calculator/.vs/calculator/v15
