################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/calculator/.vs/calculator/v15
/calculator/calculator/Debug
/calculator/Debug
/calculator/calculator/x64/Debug/calculator.tlog
/calculator/calculator/x64/Debug
/calculator/x64/Debug
